.patternContainer {
  padding: 5pt;
  display: flex;
}

.dropdown {
  display: none;
  position: absolute;
}

.patternCard {
  /* width: 200px; */
}

.patternCard:hover + .dropdown,
.dropdown:hover {
  display: inline;
  font-size: small;
}
