.patternContainer {
  padding: 5pt;
  display: flex;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-self: center;
}

.dropdown {
  display: none;
  position: absolute;
}

.patternCard {
  max-width: 220px;
  min-width: 220px;
  align-self: center;
  justify-items: center;
  overflow: hidden;
}

.patternCard:hover + .dropdown,
.dropdown:hover {
  display: flex;
  font-size: small;
}
