html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  position: static;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(139, 201, 170);
  align-items: center;
  min-height: 10svh;
  max-width: 90%;
  padding: 40px;
  gap: 24px;
  font-family: var(--font-geist-sans);
  z-index: 0;
  color: rgb(27, 56, 27);
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-size: 14pt;
}
