.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* position: relative; */
}

.headerLinks {
  display: flex;
}

.links {
  padding-right: 25px;
}

.links:hover {
  font-weight: bold;
}
