.followsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.button {
  gap: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 3px;
  border: none;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(31, 68, 31);
  background-color: rgb(198, 231, 220);
  cursor: pointer;
}

.button:hover {
  background-color: rgb(207, 231, 222);
  color: rgb(30, 41, 30);
  border: none;
  transition: 0s;
}

.users {
  padding-top: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}
