.profilePage {
  display: flex;
  flex-direction: column;
}

.profileContainer {
  display: flex;
  flex-direction: row;
}

.topContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
}

.posts {
  flex-grow: 2;
  display: flex;
  flex-direction: row;
}

.users {
  display: flex;
  flex-direction: column;
  background-color: rgb(157, 214, 181);
  min-height: max-content;
}

.userSearch {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.follows {
  padding-bottom: 10px;
}
