.profile {
  display: flex;
}

.posts {
  display: flex;
  width: 66%;
}

.usersContainer {
  float: right;
  display: flex;
  flex-direction: column;
  background-color: rgb(157, 214, 181);
}

.userSearch {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.follows {
  padding-bottom: 20px;
}
