.postContainer {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 300px;
  max-width: 300px;
  min-height: 300px;
  background-color: rgba(219, 238, 225, 0.377);
  border-radius: 5px;
}

.likesAndComments {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.buttonsContainer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin-bottom: 10px;
}

.button {
  gap: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 11px;
  padding-right: 11px;
  border-radius: 3px;
  border: none;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(31, 68, 31);
  background-color: rgb(198, 231, 220);
  cursor: pointer;
}

.button:hover {
  background-color: rgb(225, 250, 242);
  color: rgb(30, 41, 30);
}

.caption {
  font-size: small;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
